/* The main way I've been styling with CSS has been with the element selector. For example if I wanted to style all h2 elements then I would do something like below:
h2 {
   text-align: center;
}

As you can see I've selected the h2 elements. There are a lot more stuff I can do with selectors and there's different ones, the main one I've been using has been the element selector up until now.
There are a bunch of selectors and they are as follows; Element Selector, Class Selector, ID Selector, Descendant Selector, Adjacent Selector, Direct Descendant Selector, Attribute Selector, Pseudo Elements and Pseudo Classes.

Basic CSS rule:
selector {
   property: value;
}


Selector List, this is actually really cool. So lets say you're wanting all your h2 and all your h3 elements to have the same styling, well there's an easy way to do this, above shows you the way to do it to only one element. Well Selector lists can do it to multiple.
Think of it as multiple element selectors but in one place. The only thing is that when you edit this selector list it styles all the elements you have within the list. You can have more than 2 elements within a selector list. The way to do this is shown below;
h2, h3, h4 {
   color: red;
   text-align: center;
}
This would give all h2, h3 and h4 elements the text colour of red and they will all be aligned to the center of each respective element. Commas are used to combine selectors into a selector list.
*/

/* Universal Selector, rarely used will edit everything on the page. Using the example below, all the text colour in every element would be white. Selects everything in the document, it seems like you can use it to make all the text the colour of white like shown
below, this isn't the only thing it's doing in this case though. On larger documents this can be pretty in-efficient (there are better ways to do things that use this selector), it would also be applying this to every possible element on the page, even things that
you can't make black like the img element, it's an image you can't just make it black like this. You could probably make an image black and white using some fancy CSS but this isn't the way to do it. This can also include things like all the divs, containers
that don't contain text, it would still be trying to apply this property to those.
* {
   color: white;
}

After testing this out myself, it seems to also change the colour of some other properties for example the hr element can have colour applied to it and this has also changed to white. If the background property wasn't used it and lets say it was used on the
element only, then this would only change the background of the body and not the elements within the body. For example a button inside the body would not have the same background it would stay default. I just tested to make sure I was correct and I was.
* {
  color: white;
  background-color: black;
}*/

body {
  background-color: #10002b;
  color: white;
}

button {
  font-size: 15px;
  background-color: #c77dff;
}

/* Element Selector, these select everything of a given type/element. All of X element type and then apply those properties to that. There's an example below and there'll be a live example too.
Make all <h1> elements purple.
h1 {
   color: purple;
} 
Live example of an element selector: */

h1,
h2 {
  color: purple;
}

/* Referring back to when I did the forms in HTML, with inputs we would put in "id"'s this was so we could link the input with a label. Well this also helps with CSS too since you can select an element based on it's id. id attributes can be used on any element to
provide a hook for CSS, this is to single out a single element from a group of elements. Generally ids should not have spaces, short as possible but still making them standout and readable. As you can see below, there is a "#" symbol infront of the id name,
this is telling the CSS file that this is an id and not an element. (We're looking for an element with this specific id.) The example below gives the button the same dark colour as the body and gives the text a lighter colour than the other buttons. This works
and will only work on the element with the id="signupb". Only one thing on each page should have different ids, meaning there should not be two or more of the same ids within the same page. They're supposed to be used as unique identifiers.

#idname {
  property1: value;
  property2: value;
  etc. etc.
}
It's tempting to use id attributes a lot and then using them for CSS purposes but there are other selectors that can be used, you want to try keeping them to a minimum, but don't avoid using them just try not spamming them but still use them. */
#signupb {
  background-color: #240046;
  color: #7b2cbf;
}

/* Class selectors, which are as commonly used along side the element selectors, are selectors that are a similar approach to the id selectors. You can add a class attribute to an element, and just like id selectors we can hook into that class using CSS. The
difference with these is that they can be added to multiple elements hence the name of the selector and the attribute used "Class" it's creating a class of unique and specific elements. Classes = Groups. Most of the time these are used since websites usually
follow a theme or a similar style so these "should" be used more commonly which makes sense honestly. Repeated patterns are usually grouped together for class selectors to style them. It's kind of selecting a bunch of things at once and making them the same 
entity and then making them look similar. 

Within the HTML document, I've given a bunch of span elements class ids that have the same value. There are other span elements which do not have class attributes however. The code below gives ALL span elements the text colour of "#956db8" but I will change it so
that the span elements with the class attribute and the same value for the class attribute to not have this change and to havbe a background colour instead. A class does not have to consist of only one element, it can be a bunch of unique elements grouped together.
.classname {
  property1: value;
  property2: value;
  etc. etc.
}
*/
span {
  color: #956db8;
}

.label {
  color: #6e172d;
  background-color: #4cc9f0;
  font-size: 70%;
}

/* Descendant Selectors, they look very similar to multiple element selectors the difference being that they don't use a comma to separate the elements. For example, if I want to look for "a" element within an "li" element then I can use this to look for those
specific elements. The way I would do this is shown below. The live example below makes all the "a" elements to have a crimson font colour but only if they're nested within a "span" element. To show this off a little more I'll make it so the other "a" elements have a 
different colour than below. I'll make them a horrible looking green in this case. I could also use classes to accomplish this but why would I if I know what elements I'm trying to select? It's good for when there's elements nested inside other elements and I want 
only those ones changing. Along with it just seems a little better to do this over classes and ids again but only if I know I can do it to the elements I want. It's also good for all elements nested that are the same element I want changing, since classes can change 
more than one element. A good idea for this is if I have repeating content on a page, for example a "section" element with content inside. I can give those "section" elements a class and have something like below.

.news span a {
  color: white;
}
This would be a really good use case, and the reason I say this is because if I did something like
section span a {
  color: white;
}
then every "a" element within a "span" element nested inside a "section" would be styled this way. Whereas if I put it inside a class and then use descendant I have more control.
*/
span a {
  color: crimson;
}

/* Where the example below look for any "a" element within the footer element and changes it's colour to orange. Even though the "a" elements are nested within a nav, ul and li elements they still get this styling since they're still within the footer element, 
even though they're 4 levels down they're still descendants of the footer. So instead of giving all the elements classes, if there's a pattern I want to style then it's good to make a section element around the thing I want to style and then just use descendant 
selectors where I can. These are better than ids at most either way. */
footer a {
  color: orange;
}

/* This is for the example above and it works, showcasing that above has a different style than the entire collective of "a" elements. */
a {
  color: chartreuse;
}

/* ----------------------------------------------------------------------------------------------------- */
/* These next few selectors aren't as common as the ones just learnt but they're still worth mentioning. */
/* ----------------------------------------------------------------------------------------------------- */
